<div class="container">
    <h1 class="main-title">Welcome to the Contact Management App</h1>
    <h3 class="sub-content">This is the typical application that every IT student makes to learn and practice a new technology.</h3>
    <br/>
    <h3 class="sub-content">You could use this application to manage your contacts by using the following core functionalities: -</h3>
    <ul>
        <li class="sub-content list-items">Add new contacts</li>
        <li class="sub-content list-items">View contacts</li>
        <li class="sub-content list-items">Update existing contacts</li>
        <li class="sub-content list-items">Delete existing contacts</li>
    </ul>


</div>