.main-title {
    margin: 5% 16%;
    color: rgb(126, 126, 126);
    font-family: Arial, Helvetica, sans-serif;
}

.sub-content {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(150, 150, 150);
}

.list-items {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
}