<div class="container" style="height: 50rem;">
  <div class="row" style="height: 30px;">
  </div>
  <div style="margin: 10px 200px;">
    <div class="container" style="padding: 45px 20px; border-radius: 10px; background-color: whitesmoke;">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md">

          <form>
            <div class="form-row">
              <div class="col">
                <input type="text" class="form-control" placeholder="First name">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Last name">
              </div>
            </div>
            <br />
            <div class="form-group row">
              <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg" style="margin: -3px 0px;">Email</label>
              <div class="col-sm">
                <input type="email" class="form-control form-control-md" id="colFormLabelLg"
                  placeholder="someone@sub-leveldomain.top-leveldomain">
              </div>
            </div>
            <br />
            <div class="form-group row">
              <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg" style="margin: -4px 0px;">LinkedIn</label>
              <div class="col-sm">
                <input type="text" class="form-control form-control-md" id="colFormLabelLg"
                  placeholder="Link to the LinkedIn profile">
              </div>
            </div>
            <br />
            <div class="form-group row">
              <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg" style="margin: -6px 0px;">Facebook</label>
              <div class="col-sm">
                <input type="text" class="form-control form-control-md" id="colFormLabelLg"
                  placeholder="Link to the Facebook profile">
              </div>
            </div>
            <br />
            <div class="form-group row">
              <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg label-form" style="margin: -18px 0px;">Mobile Phone</label>
              <div class="col-sm">
                <input type="text" class="form-control form-control-md" id="colFormLabelLg" placeholder="067-1234589">
              </div>
            </div>
            <input type="submit" value="SUBMIT" class="btn btn-dark" style="width: 100%; margin-top: 50px;">
          </form>
        </div>
        <div class="col-md-1"></div>
      </div>

    </div>
  </div>
</div>